//.triangle-to-square{
//	.austin-1{
////		width: 0;
////		height: 0;
//		border-left: 150px solid transparent;
//		border-right: 150px solid transparent;
//		border-bottom: 300px solid transparent;
//		background: url('../img/austin1.jpg');
//		-webkit-background-size: cover;
//		-moz-background-size: cover;
//		-o-background-size: cover;
//		background-size:cover;
//		overflow: hidden;
//	}
//}

.triangle-to-square .austin-1 {
	width: 400px;
	height: 295px;
	position: relative;
	display: inline-block;
	background: url('../img/austin1.jpg');
	&:before {
		position: absolute;
		display: block;
		border-left: 100px solid $main_bg;
		border-right: 100px solid $main_bg;
		width: 200px;
		float: left;
		bottom: 0;
		border-top: 173px solid transparent;
		content: "";
		z-index: 2;
	}
	&:after {
		position: absolute;
		display: block;
		border-left: 100px solid $main_bg;
		border-right: 100px solid $main_bg;
		width: 200px;
		float: left;
		top: 0;
		border-bottom: 173px solid transparent;
		content: "";
		z-index: 2;
	}
}
