@mixin create-round-corners($pixels) {
	-webkit-border-radius: $pixels;
	-moz-border-radius: $pixels;
	border-radius: $pixels;
}

@mixin create-opacity($op) {
	opacity: $op;
	$op-ie: ($op * 100);
	filter: alpha(opacity=$op-ie);
}



