nav {
	width: 100%;
	text-align: center;
	color: $alternative_text;
	padding-bottom: 30px;
	font-size: 18px;
	font-weight: 500;
	border-bottom: 1px solid $main_txt;
	a {
		color: $alternative_text;
		margin: 0 10px;
		@include simple-transition(500ms);
		display: block;
		float: left;
		position: relative;
		overflow: visible;
		height: 42px;
		line-height: 42px;
		&:before {
			content: " ";
			height: 0;
			width: 100%;
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			background: $main_txt;
			@include simple-transition(500ms);
			@include create-opacity(0);
			border-top: 1px solid $main_txt;

		}
		&:after {
			content: " ";
			height: 0;
			border-bottom: 1px solid $main_txt;
			width: 100%;
			position: absolute;
			bottom: 50%;
			left: 0;
			right: 0;
			background: $main_txt;
			@include simple-transition(500ms);
			@include create-opacity(0);
		}
	}
	a:focus,
	a:hover,
	a.active {
		color: $main_txt;
	}
	a:hover,
	a.active {
		&:before {
			top: 0;
			@include create-opacity(100);
		}
		&:after {
			bottom: 0;
			@include create-opacity(100);
		}
	}
	a:first-of-type {
		margin-left: 0;
	}
}

ul#selection-tabs {
	margin: 0;
	padding: 0;
	width: 100%;
	li {
		list-style: none;
		display: none;
		&.container:last-of-type {
			border-bottom: 0px solid $main_txt;
		}
	}
	li:first-of-type {
		display: block;
	}
}