.opacity-square {
	article {
		position: relative;
		&:before {
			position: absolute;
			background: rgba(0, 0, 0, 0.6);
			top: 5px;
			bottom: 5px;
			left: 5px;
			right: 5px;
			z-index: 2;
			content: '';
			@include simple-transition(1000ms);
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	article:hover {
		&:before {
			@include create-opacity(0);
			top: 50%;
			bottom: 50%;
			left: 50%;
			right: 50%;
		}
	}
}