.opacity-simple {
	article {
		position: relative;
		overflow: hidden;
		&:before {
			position: absolute;
			background: rgba(0, 0, 0, 0.5);
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 2;
			content: '';
			@include simple-transition(500ms);
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	article:hover {
		&:before {
			@include create-opacity(0);
		}
	}
}