<!--Horizontal Flip-->
<section class="container">
	<section class="content-wrapper square-pattern horizontal-flip">
		<h2>Horizontal Flip</h2>
		<article>
			<div class="flip-wrap">
				<div class="front">
					<img src="assets/img/naruto1.jpg"/>
				</div>
				<div class="back">
					<img  src="assets/img/naruto3.jpg"/>
				</div>
			</div>
		</article>
		<article>
			<div class="flip-wrap">
				<div class="front">
					<img  src="assets/img/sasuke1.jpg"/>
				</div>
				<div class="back">
					<img  src="assets/img/sasuke3.jpg"/>
				</div>
			</div>
		</article>
		<article>
			<div class="flip-wrap">
				<div class="front">
					<img  src="assets/img/itachi1.jpg"/>
				</div>
				<div class="back">
					<img  src="assets/img/itachi3.jpg"/>
				</div>
			</div>
		</article>
		<div class="clearfix"></div>
	</section>
	<div class="clearfix"></div>
</section>

<!--Vertical Flip-->
<section class="container">
	<section class="content-wrapper square-pattern vertical-flip">
		<h2>Vertical Flip</h2>
		<article>
			<div class="flip-wrap">
				<div class="front">
					<img  src="assets/img/naruto1.jpg"/>
				</div>
				<div class="back">
					<img  src="assets/img/naruto3.jpg"/>
				</div>
			</div>
		</article>
		<article>
			<div class="flip-wrap">
				<div class="front">
					<img  src="assets/img/sasuke1.jpg"/>
				</div>
				<div class="back">
					<img  src="assets/img/sasuke3.jpg"/>
				</div>
			</div>
		</article>
		<article>
			<div class="flip-wrap">
				<div class="front">
					<img  src="assets/img/itachi1.jpg"/>
				</div>
				<div class="back">
					<img  src="assets/img/itachi3.jpg"/>
				</div>
			</div>
		</article>
		<div class="clearfix"></div>
	</section>
	<div class="clearfix"></div>
</section>


<!--Spin to Circle-->
<section class="container">
	<section class="content-wrapper square-pattern spin-to-circle">
		<h2>Spin to Circle</h2>
		<article>
			<img src="assets/img/kojak1.jpg"/>
		</article>
		<article>
			<img src="assets/img/kojak2.jpg"/>
		</article>
		<article>
			<img src="assets/img/kojak3.jpg"/>
		</article>
		<div class="clearfix"></div>
	</section>
	<div class="clearfix"></div>
</section>

<!--Spin to Circle and Fade-->
<section class="container">
	<section class="content-wrapper square-pattern spin-to-circle-and-fade">
		<h2>Spin to Circle and Fade</h2>
		<article>
			<img class="under" src="assets/img/naruto3.jpg"/>
			<img class="over" src="assets/img/naruto1.jpg"/>
		</article>
		<article>
			<img class="under" src="assets/img/sasuke3.jpg"/>
			<img class="over" src="assets/img/sasuke2.jpg"/>
		</article>
		<article>
			<img class="under" src="assets/img/itachi3.jpg"/>
			<img class="over" src="assets/img/itachi1.jpg"/>
		</article>
		<div class="clearfix"></div>
	</section>
	<div class="clearfix"></div>
</section>