
<!--Simple Fade-->
<section class="container">
    <section class="content-wrapper square-pattern simple-fade">
        <h2>Simple Fade</h2>
        <article>
            <img class="under" src="assets/img/naruto3.jpg"/>
            <img class="over" src="assets/img/naruto1.jpg"/>
        </article>
        <article>
            <img class="under" src="assets/img/sasuke3.jpg"/>
            <img class="over" src="assets/img/sasuke2.jpg"/>
        </article>
        <article>
            <img class="under" src="assets/img/itachi3.jpg"/>
            <img class="over" src="assets/img/itachi1.jpg"/>
        </article>
        <div class="clearfix"></div>
    </section>
    <div class="clearfix"></div>
</section>

<!--Simple Fade Away-->
<section class="container">
    <section class="content-wrapper square-pattern simple-fade-away">
        <h2>Simple Fade Away</h2>
        <article>
            <img class="under" src="assets/img/naruto3.jpg"/>
            <img class="over" src="assets/img/naruto1.jpg"/>
        </article>
        <article>
            <img class="under" src="assets/img/sasuke3.jpg"/>
            <img class="over" src="assets/img/sasuke2.jpg"/>
        </article>
        <article>
            <img class="under" src="assets/img/itachi3.jpg"/>
            <img class="over" src="assets/img/itachi1.jpg"/>
        </article>
        <div class="clearfix"></div>
    </section>
    <div class="clearfix"></div>
</section>

<!--Fade Away-->
<section class="container">
    <section class="content-wrapper square-pattern fade-away">
        <h2>Fade Away</h2>
        <article>
            <img class="under" src="assets/img/naruto3.jpg"/>
            <img class="over" src="assets/img/naruto1.jpg"/>
        </article>
        <article>
            <img class="under" src="assets/img/sasuke3.jpg"/>
            <img class="over" src="assets/img/sasuke2.jpg"/>
        </article>
        <article>
            <img class="under" src="assets/img/itachi3.jpg"/>
            <img class="over" src="assets/img/itachi1.jpg"/>
        </article>
        <div class="clearfix"></div>
    </section>
    <div class="clearfix"></div>
</section>

<!--Auto fade-->
<section class="container">
	<section class="content-wrapper square-pattern fade-auto">
		<h2>Auto Fade</h2>
		<article>
			<img src="assets/img/naruto3.jpg"/>
			<img src="assets/img/naruto2.jpg"/>
			<img src="assets/img/naruto1.jpg"/>
		</article>
		<article>
			<img src="assets/img/sasuke3.jpg"/>
			<img src="assets/img/sasuke2.jpg"/>
			<img src="assets/img/sasuke1.jpg"/>
		</article>
		<article>
			<img src="assets/img/itachi3.jpg"/>
			<img src="assets/img/itachi2.jpg"/>
			<img src="assets/img/itachi1.jpg"/>
		</article>
		<div class="clearfix"></div>
	</section>
	<div class="clearfix"></div>
</section>