<!--Opacity Simple-->
<section class="container">
	<section class="content-wrapper square-pattern opacity-simple">
		<h2>Zoom In</h2>
		<article>
			<div class="zoom-wrapper">
				<img class="under" src="assets/img/zohan1.jpg"/>
			</div>
		</article>
		<article>
			<div class="zoom-wrapper">
				<img class="under" src="assets/img/zohan2.jpg"/>
			</div>
		</article>
		<article>
			<div class="zoom-wrapper">
				<img class="under" src="assets/img/zohan6.jpg"/>
			</div>
		</article>
		<div class="clearfix"></div>
	</section>
	<div class="clearfix"></div>
</section>