<!--Opacity Simple-->
<section class="container">
	<section class="content-wrapper square-pattern opacity-simple">
		<h2>Simple Opacity</h2>
		<article>
			<img class="under" src="assets/img/rocky1.jpg"/>
		</article>
		<article>
			<img class="under" src="assets/img/rocky2.jpg"/>
		</article>
		<article>
			<img class="under" src="assets/img/rocky3.jpg"/>
		</article>
		<div class="clearfix"></div>
	</section>
	<div class="clearfix"></div>
</section>

<!--Shine-->
<section class="container">
	<section class="content-wrapper square-pattern shine">
		<h2>Shine</h2>
		<article>
			<img class="under" src="assets/img/rocky1.jpg"/>
		</article>
		<article>
			<img class="under" src="assets/img/rocky2.jpg"/>
		</article>
		<article>
			<img class="under" src="assets/img/rocky3.jpg"/>
		</article>
		<div class="clearfix"></div>
	</section>
	<div class="clearfix"></div>
</section>

<!--Opacity Square-->
<section class="container">
	<section class="content-wrapper square-pattern opacity-square">
		<h2>Opacity Square</h2>
		<article>
			<img class="under" src="assets/img/rocky1.jpg"/>
		</article>
		<article>
			<img class="under" src="assets/img/rocky2.jpg"/>
		</article>
		<article>
			<img class="under" src="assets/img/rocky3.jpg"/>
		</article>
		<div class="clearfix"></div>
	</section>
	<div class="clearfix"></div>
</section>

<!--Opacity Circle-->
<section class="container">
	<section class="content-wrapper square-pattern opacity-circle">
		<h2>Opacity Circle</h2>
		<article>
			<img class="under" src="assets/img/rocky1.jpg"/>
		</article>
		<article>
			<img class="under" src="assets/img/rocky2.jpg"/>
		</article>
		<article>
			<img class="under" src="assets/img/rocky3.jpg"/>
		</article>
		<div class="clearfix"></div>
	</section>
	<div class="clearfix"></div>
</section>

<!--Flashing-->
<section class="container">
	<section class="content-wrapper square-pattern flashing">
		<h2>Flashing</h2>
		<article>
			<img class="under" src="assets/img/rocky1.jpg"/>
		</article>
		<article>
			<img class="under" src="assets/img/rocky2.jpg"/>
		</article>
		<article>
			<img class="under" src="assets/img/rocky3.jpg"/>
		</article>
		<div class="clearfix"></div>
	</section>
	<div class="clearfix"></div>
</section>

<!--Flashing Circle-->
<section class="container">
	<section class="content-wrapper square-pattern flashing-circle">
		<h2>Flashing Circle</h2>
		<article>
			<img class="under" src="assets/img/rocky1.jpg"/>
		</article>
		<article>
			<img class="under" src="assets/img/rocky2.jpg"/>
		</article>
		<article>
			<img class="under" src="assets/img/rocky3.jpg"/>
		</article>
		<div class="clearfix"></div>
	</section>
	<div class="clearfix"></div>
</section>