<!--Hexagon to Circle-->
<section class="container">
	<section class="content-wrapper square-pattern hexagon-to-circle">
		<h2>Hexagon to Circle</h2>
		<article>
			<div class="img-wrapper"></div>
		</article>
		<article>
			<div class="img-wrapper"></div>
		</article>
		<article>
			<div class="img-wrapper"></div>
		</article>
		<div class="clearfix"></div>
	</section>
	<div class="clearfix"></div>
</section>

<!--Stripe to Square-->
<section class="container">
	<section class="content-wrapper square-pattern stripe-to-square">
		<h2>Stripe to Square</h2>
		<article>
			<div class="img-wrapper"></div>
		</article>
		<article>
			<div class="img-wrapper"></div>
		</article>
		<article>
			<div class="img-wrapper"></div>
		</article>
		<div class="clearfix"></div>
	</section>
	<div class="clearfix"></div>
</section>


<!--Triangle to Circle-->
<section class="container">
	<section class="content-wrapper square-pattern triangle-to-square">
		<h2>Triangle to Circle</h2>
		<article>
			<div class="img-wrapper"></div>
		</article>
		<article>
			<div class="img-wrapper"></div>
		</article>
		<article>
			<div class="img-wrapper"></div>
		</article>
		<div class="clearfix"></div>
	</section>
	<div class="clearfix"></div>
</section>