<!--Zoom In-->
<section class="container">
	<section class="content-wrapper square-pattern zoom-in">
		<h2>Zoom In</h2>
		<article>
			<div class="zoom-wrapper">
				<img class="under" src="assets/img/zohan1.jpg"/>
			</div>
		</article>
		<article>
			<div class="zoom-wrapper">
				<img class="under" src="assets/img/zohan2.jpg"/>
			</div>
		</article>
		<article>
			<div class="zoom-wrapper">
				<img class="under" src="assets/img/zohan6.jpg"/>
			</div>
		</article>
		<div class="clearfix"></div>
	</section>
	<div class="clearfix"></div>
</section>

<!--Zoom Out-->
<section class="container">
	<section class="content-wrapper square-pattern zoom-out">
		<h2>Zoom Out</h2>
		<article>
			<div class="zoom-wrapper">
				<img class="under" src="assets/img/zohan1.jpg"/>
			</div>
		</article>
		<article>
			<div class="zoom-wrapper">
				<img class="under" src="assets/img/zohan2.jpg"/>
			</div>
		</article>
		<article>
			<div class="zoom-wrapper">
				<img class="under" src="assets/img/zohan6.jpg"/>
			</div>
		</article>
		<div class="clearfix"></div>
	</section>
	<div class="clearfix"></div>
</section>

<!--Zoom Out Anchored-->
<section class="container">
	<section class="content-wrapper square-pattern zoom-out-anchored">
		<h2>Zoom Out & Anchored</h2>
		<article>
			<div class="zoom-wrapper">
				<img class="under" src="assets/img/zohan1.jpg"/>
			</div>
		</article>
		<article>
			<div class="zoom-wrapper">
				<img class="under" src="assets/img/zohan2.jpg"/>
			</div>
		</article>
		<article>
			<div class="zoom-wrapper">
				<img class="under" src="assets/img/zohan6.jpg"/>
			</div>
		</article>
		<div class="clearfix"></div>
	</section>
	<div class="clearfix"></div>
</section>

<!--Zoom Out & Rotate-->
<section class="container">
	<section class="content-wrapper square-pattern zoom-out-rotate">
		<h2>Zoom Out & Rotate</h2>
		<article>
			<div class="zoom-wrapper">
				<img class="under" src="assets/img/zohan1.jpg"/>
			</div>
		</article>
		<article>
			<div class="zoom-wrapper">
				<img class="under" src="assets/img/zohan2.jpg"/>
			</div>
		</article>
		<article>
			<div class="zoom-wrapper">
				<img class="under" src="assets/img/zohan6.jpg"/>
			</div>
		</article>
		<div class="clearfix"></div>
	</section>
	<div class="clearfix"></div>
</section>

<!--Zoom Slide-->
<section class="container">
	<section class="content-wrapper square-pattern zoom-slide">
		<h2>Slide</h2>
		<article>
			<div class="zoom-wrapper">
				<img class="under" src="assets/img/zohan5.jpg"/>
			</div>
		</article>
		<article>
			<div class="zoom-wrapper">
				<img class="under" src="assets/img/zohan3.jpg"/>
			</div>
		</article>
		<article>
			<div class="zoom-wrapper">
				<img class="under" src="assets/img/zohan4.jpg"/>
			</div>
		</article>
		<div class="clearfix"></div>
	</section>
	<div class="clearfix"></div>
</section>

<!--Zoom Slide & Rotate-->
<section class="container">
	<section class="content-wrapper square-pattern zoom-slide-rotate">
		<h2>Slide & Rotate</h2>
		<article>
			<div class="zoom-wrapper">
				<img class="under" src="assets/img/zohan5.jpg"/>
			</div>
		</article>
		<article>
			<div class="zoom-wrapper">
				<img class="under" src="assets/img/zohan3.jpg"/>
			</div>
		</article>
		<article>
			<div class="zoom-wrapper">
				<img class="under" src="assets/img/zohan4.jpg"/>
			</div>
		</article>
		<div class="clearfix"></div>
	</section>
	<div class="clearfix"></div>
</section>