body,
html {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0; }

body {
  font-size: 16px;
  font-family: Roboto, Arial, Helvetica;
  color: #EEEEEE;
  background: #373737; }

a,
a:hover,
a:focus {
  text-decoration: none; }

h1 {
  font-size: 34px; }

h2 {
  font-size: 28px;
  text-align: center; }

.container {
  width: 100%;
  padding: 30px 0; }

.content-wrapper {
  width: 990px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) and (max-width: 980px) {
  .content-wrapper {
    width: 720px; } }

@media (min-width: 351px) and (max-width: 767px) {
  .content-wrapper {
    width: calc(100% - 30px); } }

@media (max-width: 350px) {
  .content-wrapper {
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px; } }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.square-pattern article {
  width: 30%;
  margin: 30px 1.66%;
  float: left; }
  .square-pattern article:first-of-type {
    margin: 30px 3.33% 30px 0; }
  .square-pattern article:last-of-type {
    margin: 30px 0 30px 3.33%; }

nav {
  width: 100%;
  text-align: center;
  color: #AAAAAA;
  padding-bottom: 30px;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 1px solid #EEEEEE; }
  nav a {
    color: #AAAAAA;
    padding: 5px 0;
    margin: 0 10px;
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
    display: block;
    float: left; }
    nav a::first-letter {
      border-top: 1px solid #AAAAAA;
      border-bottom: 1px solid #AAAAAA;
      margin-right: 1px;
      padding: 10px 0 10px 2px; }
  nav a:focus,
  nav a:hover,
  nav a.active {
    color: #EEEEEE; }
    nav a:focus::first-letter,
    nav a:hover::first-letter,
    nav a.active::first-letter {
      border-top: 1px solid #EEEEEE;
      border-bottom: 1px solid #EEEEEE; }

ul#selection-tabs {
  margin: 0;
  padding: 0;
  width: 100%; }
  ul#selection-tabs li {
    list-style: none;
    display: none; }
    ul#selection-tabs li.container:last-of-type {
      border-bottom: 0px solid #EEEEEE; }
  ul#selection-tabs li:first-of-type {
    display: block; }

.greyscale img {
  width: 100%;
  height: auto;
  -webkit-transition: 800ms;
  -moz-transition: 800ms;
  -o-transition: 800ms;
  transition: 800ms;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: url(../svg/grayscale.svg#greyscale);
  filter: grayscale(100%);
  filter: gray; }
  .greyscale img:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: url(../svg/ungrayscale.svg);
    filter: grayscale(0%); }

.greyscale-enlarge img {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  float: none;
  display: block;
  -webkit-transition-duration: 750ms;
  /* Safari */
  transition-duration: 750ms;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: url(../svg/grayscale.svg#greyscale);
  filter: grayscale(100%);
  filter: gray; }
  .greyscale-enlarge img:hover {
    -ms-transform: scale(1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2);
    /* Safari */
    transform: scale(1.2);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: url(../svg/ungrayscale.svg);
    filter: grayscale(0%); }

.greyscale-enlarge-round img {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  float: none;
  display: block;
  -webkit-transition-duration: 750ms;
  /* Safari */
  transition-duration: 750ms;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: url(../svg/grayscale.svg#greyscale);
  filter: grayscale(100%);
  filter: gray;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }
  .greyscale-enlarge-round img:hover {
    -ms-transform: scale(1.2);
    /* IE 9 */
    -webkit-transform: scale(1.2);
    /* Safari */
    transform: scale(1.2);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: url(../svg/ungrayscale.svg);
    filter: grayscale(0%); }

.simple-fade article {
  position: relative;
  overflow: visible;
  height: 300px; }
  .simple-fade article img {
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    -webkit-transition: opacity 1000ms ease-in-out;
    -moz-transition: opacity 1000ms ease-in-out;
    -o-transition: opacity 1000ms ease-in-out;
    transition: opacity 1000ms ease-in-out; }
    .simple-fade article img.over:hover {
      opacity: 0;
      filter: alpha(opacity=0); }

/*# sourceMappingURL=style.css.map */
