.greyscale-enlarge {
	img {
		width: 80%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		float: none;
		display: block;
		@include transition-duration(750ms);
		@include greyscale();
		&:hover {
			@include scale(1.2);
			@include ungreyscale();
		}
	}
}